/* Style de base (pour téléphone donc en portrait) */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  flex-direction: column;
  touch-action: pan-x pan-y;
}



/* La partie du haut avec la séléction du site et le profile */

nav {
  width: 13.3690vh;
  height: 6.6845vh;
  background-color: #EEEEEF;
  border-radius: 1.2032vh;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}


nav .sites {
  line-height: 6.6845vh;
  font-size: 2.4064vh;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: black;
  cursor: pointer;
}
.sites:nth-child(1) {
  width: 13.3690vh;
}
.sites:nth-child(2) {
  width: 13.3690vh;
}


nav .siteSlideAnimation {
  position: absolute;
  height: 5.8824vh;
  z-index: 0;
  transition: all .5s ease;
  border-radius: 0.9358vh;
  margin-left: 0.4011vh;
  background-color: white;
}


.selectUser {
  width: 6.0160vh;
  height: 6.0160vh;
  border-radius: 50%;
  font-size: 2.9412vh;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #d8d8db;
  margin-left: 29%;
  position: absolute;
  cursor: context-menu;
}





/* La partie centrale avec les semaines (ce qui scroll) */

.weekContainer{
  display:flex;
  overflow:hidden;
  width:100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type:x mandatory
}
.weekContainer::-webkit-scrollbar {
  display: none;
}
.weekContainer>div{
  text-align:center;
  scroll-snap-align:center;
  scroll-snap-stop: always;
  flex:none;
  width:100%;
}


.oneWeekContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: auto;
}


.weekTitle{
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 4.2781vh;
  font-weight: bold;
  margin-bottom: 3.3422vh;
}


.days, .small, .top, .bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5.3476vh;
}
.days {
  flex-direction: column;
  gap: 2.6738vh;
}
.top, .bottom{
  margin: 0 auto;
  flex-direction: row;
}


.big_rectangle, .small_rectangle {
  position: relative;
  margin: 0 auto;
  background-color: #EEEEEF;
  color: white;
  font-size: 3.2086vh;
  font-weight: bold;
  border-radius: 1.7380vh;
  z-index: 0;
  cursor: pointer;
}
.big_rectangle {
  width: 42.7807vh;
  height: 17.3797vh;
}
.small_rectangle {
  width: 20.0535vh;
  height: 17.3797vh;
}


.dayOfTheWeek{
  position: absolute;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 2.6738vh;
  font-weight: bold;
  margin-left: 2.0053vh;
  margin-top: 2.0053vh;
  /*margin-left: 2vh;
  margin-top: 2vh;*/
}
@keyframes growDayOfTheWeek {
  0% {
    /*margin-left: 2vh;*/
    margin-left: 2.0053vh;
    font-size: 2.6738vh;
  }
  100% {
    /*margin-left: 3vh;*/
    margin-left: 2.6738vh;
    font-size: 4.2781vh;
  }
}


.dayNum{
  position: absolute;
  font-family: Arial, sans-serif;
  color: #7f7f7f;
  font-size: 1.8717vh;
  margin-left: 3.3422vh;
  margin-top: 5.0802vh;
  /*margin-left: 3vh;
  margin-top: 5vh;*/
}
@keyframes growDayNum {
  0% {
    margin-left: 3.3422vh;
    margin-top: 5.0802vh;
    /*margin-left: 3vh;
    margin-top: 5vh;*/
    font-size: 1.8717vh;
  }
  100% {
    margin-left: 4.6791vh;
    margin-top: 6.9519vh;
    /*margin-left: 5vh;
    margin-top: 6.5vh;*/
    font-size: 2.6738vh;
  }
}


.circle {
  width: 4.6791vh;
  height: 4.6791vh;
  border-radius: 50%;
  position: absolute;
  bottom: 2.0053vh;
  font-size: 2.4064vh;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, right 0.3s ease, top 0.3s ease, bottom 0.3s ease;
  z-index: 0;
}


.self-circle {
  position: absolute;
  top: 1.3369vh;
  right: 1.3369vh;
  width: 3.0749vh;
  height: 3.0749vh;
  background-color: #f1f1f1; /* Light gray background */
  border: 0.4011vh solid #A9A9A9; /* Dark gray border */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.self-circle-active {
  background-color: #88e488; /* Light gray background */
  border: 0.4011vh solid #3ab638; /* Dark gray border */
}
.self-circle-old {
  position: absolute;
  top: 1.3369vh;
  right: 1.3369vh;
  width: 3.0749vh;
  height: 3.0749vh;
  background-color: rgba(89, 88, 88, 0.40);
  border: 0.4011vh solid rgba(89, 88, 88, 0.20);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.nbResa{
  position: absolute;
  color: #606060;
  background-color: #d8d8db;
  font-weight: bold;
  width: 3.3422vh;
  height: 3.3422vh;
  font-size: 2.0053vh;
  right: 1.3369vh;
  z-index: 1;
}





/* Partie du bas avec l'indicateur de scroll */

/* Conteneur des indicateurs */
.scroll-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.6738vh; /* Espace au-dessus */
}


/* Style des points */
.indicator {
  width: 1.3369vh; /* Taille du point */
  height: 1.3369vh; /* Taille du point */
  margin: 0 1.3369vh; /* Espacement entre les points */
  background-color: #ccc; /* Couleur des points inactifs */
  border-radius: 50%; /* Cercle parfait */
  transition: background-color 0.3s ease; /* Animation pour le changement de couleur */
  cursor: pointer;
}

.indicator.left{
  cursor: w-resize;
}

.indicator.right{
  cursor: e-resize;
}

/* Point actif */
.scroll-indicator .indicator.active {
  background-color: #606060; /* Couleur du point actif */
}


/* Style du symbole history */
.history {
  position: absolute;
  left: 50%;
  transform: translate(-600%, 0%);
  width: 3.0749vh; /* Taille du point */
  height: 3.0749vh; /* Taille du point */
  background-color: grey; /* Couleur des points inactifs */
  border-radius: 50%; /* Cercle parfait */
  transition: opacity 0.2s ease; /* Animation pour le changement de couleur */
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  cursor: pointer;
}





/* Lookup rectangle (rectangle qui pop quand on appuie sur une date) */

.lookup_rectangle {
  margin: 0 auto;
  background-color: #FFE371;
  color: white;
  font-size: 3.2086vh;
  font-weight: bold;
  border-radius: 1.7380vh;
  box-shadow: 0 0.5348vh 1.0695vh rgba(0, 0, 0, 0.2), 0 0.8021vh 2.6738vh rgba(0, 0, 0, 0.19);
  z-index: 20;
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease, bottom 0.3s ease;
}


.lookup_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 77%;
  overflow-y: scroll;
  box-sizing: border-box;
  transition: margin-top 0.3s ease;
  background-color: rgba(255, 227, 113, 0);
  overflow-x: hidden;
}
.lookup_list::-webkit-scrollbar {
  width: 0.8021vh;
}
.lookup_list::-webkit-scrollbar-thumb {
  border-radius: 0.6684vh;
  background-color: #c0c0c0;
}

.lookup_list_element {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin-top: 1.3369vh;
}

.lookup_list_name {
  width: 73%;
  position : sticky;
  color: rgb(71, 71, 71, 0);
  font-size: 2.6738vh;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limite à 2 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Cache le débordement */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte déborde */
  text-align: left; /* Centre le texte à gauche */
  line-height: 1;
}
@keyframes growlookup_list_name {
  0% {
    color: rgba(71, 71, 71, 0);
  }
  100% {
    color: rgb(71, 71, 71);
  }
}





/* Profile rectangle (rectangle qui pop avec les informations du profile) */

.profile_rectangle {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0 auto;
  background-color: #FFA178;
  color: white;
  font-size: 3.2086vh;
  font-weight: bold;
  border-radius: 1.7380vh;
  box-shadow: 0 0.5348vh 1.0695vh rgba(0, 0, 0, 0.2), 0 0.8021vh 2.6738vh rgba(0, 0, 0, 0.19);
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease, bottom 0.3s ease;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 20;
}


.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.6738vh;
  margin-left: 2.6738vh;
  margin-right: 2.6738vh;
  margin-top: 4.0107vh;
}


.profile-title {
  font-size: 4.2781vh;
  font-weight: bold;
}


.profile-avatar {
  top: 50%;
  left: 50%;
  width: 7.3529vh;
  height: 7.3529vh;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  font-size: 3.6096vh;
}


.close-button {
  background: none;
  border: none;
  font-size: 2.6738vh;
  cursor: pointer;
  color: #474747;
  margin-top: -4.6791vh;
}
.close-button:hover {
  color: #000;
}


/* Champs de saisie */
.profile-form {
  margin-bottom: 2.6738vh;
  margin-left: 2.6738vh;
  margin-right: 2.6738vh;
}


.input-group {
  margin-bottom: 3.3422vh;
}
.input-group label {
  display: block;
  font-size: 2.4064vh;
  margin-bottom: 0.6684vh;
  color: #555;
}
.input-group input {
  width: 70%;
  padding: 1.0695vh;
  border: 0.1337vh solid #ccc;
  border-radius: 0.6684vh;
  font-size: 2.4064vh;
  color: #333;
}
.input-group input[readonly] {
  background-color: #f0f0f0;
  color: #888;
  cursor: not-allowed;
}


#initials {
  width: 30%;
  text-transform: uppercase;
}


#email {
  width: 90%;
}


/* Actions */
.profile-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.6738vh;
  margin-right: 2.6738vh;
}


.logout-button,
.save-button {
  padding: 1.0695vh 1.6043vh;
  font-size: 2.4064vh;
  border: none;
  border-radius: 0.6684vh;
  cursor: pointer;
}
.logout-button {
  background-color: #dc3545;
  color: white;
}
.logout-button:hover {
  background-color: #c82333;
}
.save-button {
  background-color: #007bff;
  color: white;
}
.save-button:hover {
  background-color: #0056b3;
}


.color-picker-container {
  display: flex;
  align-items: center; /* Centre verticalement les éléments */
  justify-content: space-between; /* Écarte les éléments */
  flex-direction: row; /* Met les éléments sur une ligne horizontale */
  width: 22.7273vh; /* Largeur totale du conteneur */
  margin-right: 1.3369vh;
  margin-bottom: -2.6738vh;
  padding: 0;
}


.color-bar {
  position: relative;
  width: 18.7166vh;
  height: 2.6738vh;
  border-radius: 1.3369vh;
  margin-right: 2.6738vh; /* Ajoute un espace avec la luminosité */
}


input[type="range"] {
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  background: none;
  pointer-events: none;
  padding: 0;
  border: none;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2.6738vh;
  height: 2.6738vh;
  border-radius: 50%;
  background: white;
  border: 0.2674vh solid black;
  cursor: pointer;
  pointer-events: all;
}
input[type="range"]::-moz-range-thumb {
  width: 2.6738vh;
  height: 2.6738vh;
  border-radius: 50%;
  background: white;
  border: 0.2674vh solid black;
  cursor: pointer;
}


.luminosity-bar {
  position: relative;
  width: 2.6738vh; /* Plus petite largeur */
  height: 8.0214vh; /* Hauteur verticale */
  border-radius: 1.3369vh;
}
.luminosity-bar input[type="range"] {
  position: absolute;
  top: 0;
  width: 2.6738vh; /* Largeur de la barre */
  height: 8.0214vh; /* Hauteur correspondant à la barre */
  writing-mode: vertical-lr; /* Vertical (de bas en haut) */
  direction: rtl; /* Curseur partant du bas */
  background: none;
  margin: 0;
  padding: 0;
  border: none;
}
.luminosity-bar input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2.6738vh;
  height: 2.6738vh;
  border-radius: 50%;
  background: white;
  border: 0.2674vh solid black;
  cursor: pointer;
  pointer-events: all;
}
.luminosity-bar input[type="range"]::-moz-range-thumb {
  width: 2.6738vh;
  height: 2.6738vh;
  border-radius: 50%;
  background: white;
  border: 0.2674vh solid black;
  cursor: pointer;
}






/* Style pour les écrans d'ordinateur */

@media screen and (aspect-ratio<=2.3) and (aspect-ratio>0.76) {

  .weekTitle{
    font-size: 5vh;
  }

  .big_rectangle {
    width: 30.7692vh;
    height: 38.4615vh;
  }

  .days {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    gap: 3.7021vh;
  }
  .small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .top, .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .lookup_list {
    margin-top: 26%;
  }

  .lookup_list_name {
    font-size: 2.0513vh;
  }

}

@media screen and (aspect-ratio<=1) and (aspect-ratio>0.76) {

  body{
    margin: 2px
  }

  .big_rectangle {
    width: 30.7692vh;
    height: 36vh;
  }

  .days {
    gap: 1.2406vh;
  }

}



/* Style pour les téléphone en mode paysage */

@media screen and (aspect-ratio>2.3 ) {

  .weekTitle{
    font-size: 6.4103vh;
    margin-top: 2.5641vh;
  }

  .days, .small, .top, .bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    gap : 0;
  }


  .big_rectangle, .small_rectangle {
    width: 30.7692vh;
    height: 38.4615vh;
    margin-left: 6.6667vh;
  }


  .dayOfTheWeek{
    font-size: 3.8462vh;
    margin-left: 3.0769vh;
  }
  .dayNum{
    font-size: 2.5641vh;
    margin-left: 5.1282vh;
    margin-top: 6.1538vh;
  }


  .self-circle {
    width: 3.8462vh;
    height: 3.8462vh;
    border: 0.5128vh solid #A9A9A9; /* Dark gray border */
  }
  .self-circle-active {
    border: 0.5128vh solid #3ab638; /* Dark gray border */
  }
  .self-circle-old {
    width: 3.8462vh;
    height: 3.8462vh;
    border: 0.5128vh solid rgba(89, 88, 88, 0.20);
  }


  .nbResa{
    width: 4.6154vh;
    height: 4.6154vh;
    font-size: 2.8205vh;
    right: 1.5069vh;
    bottom: 1.6053vh;
  }


  .lookup_list {
    height: 70%;
    margin-top: 34%;
  }

  .lookup_list_name {
    font-size: 2.0513vh;
  }

  .lookup_list_element {
    margin-top: 0;
    margin-bottom: 1.2821vh;
    display: flex;
  }


}











/*Commentaire sur de l'ancien code*/

/*
@media (max-width: 245.9893vh) {

  .week{
    font-size: 6.4171vh;
    margin-bottom: 6.6845vh;
  }

  .big_rectangle {
    width: 26.7380vh;
    height: 36.7647vh;
  }

  .small_rectangle {
    width: 26.7380vh;
    height: 36.7647vh;
  }
}

@media (max-width: 173.7968vh) {

  .week{
    margin-bottom: 6.6845vh;
  }

  .small {
    flex-direction: column;
  }

  .top, .bottom {
    flex-direction: row;
  }

  .big_rectangle {
    width: 42.7807vh;
    height: 58.8235vh;
  }

  .small_rectangle {
    width: 26.7380vh;
    height: 26.7380vh;
  }
}
@media (max-width: 114.9733vh) {

  .main{
    margin-bottom: auto;
  }

  nav{
    margin-top: 1.3369vh;
  }

  .week{
    font-size: 4.2781vh;
    margin-bottom: 3.3422vh;
    margin-top: 10.6952vh;
  }

  .days {
    flex-direction: column;
    gap: 2.6738vh;
  }

  .top, .bottom{
    margin: 0 auto !important;
    flex-direction: row;
  }

  .big_rectangle {
    width: 42.7807vh;
    height: 17.3797vh;
  }

  .small_rectangle {
    width: 20.0535vh;
    height: 17.3797vh;
  }
}
*/



