body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  flex-direction: column;
  touch-action: pan-x pan-y;
}

.container{
  display:flex;
  overflow:hidden;
}
.container.x{
  width:100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.container::-webkit-scrollbar {
  display: none;
}
.x.mandatory-scroll-snapping{
  scroll-snap-type:x mandatory
}
.container>div{
  text-align:center;
  scroll-snap-align:center;
  scroll-snap-stop: always;
  flex:none
}
.x.container>div{
  width:100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  background-color: #EEEEEF;
  border-radius: 9px;
  font-size: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

nav .sites {
  line-height: 50px;
  font-size: 18px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: black;
  cursor: default;
}
nav .animation {
  position: absolute;
  height: 44px;
  top: 0;
  z-index: 0;
  transition: all .5s ease;
  border-radius: 7px;
  margin-top: 3px;
  margin-left: 3px;
  background-color: white;
}

.sites:nth-child(1) {
  width: 100px;
}
.sites:nth-child(2) {
  width: 100px;
}

.days, .small, .top, .bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
}

.week{
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 60px;
  margin-top: 110px;
}

.big_rectangle, .small_rectangle {
  position: relative;
  margin: 0 auto !important;
  width: 320px;
  height: 440px;
  background-color: #FFE371;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 13px;
  z-index: 0;
}

.lookup_rectangle {
  position: absolute;
  margin: 0 auto !important;
  background-color: #FFE371;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  z-index: 0;
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, top 0.3s ease, bottom 0.3s ease;
}

.lookup_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 77%;
  overflow-y: scroll;
  box-sizing: border-box;
  transition: margin-top 0.3s ease;
  background-color: rgba(255, 227, 113, 0);

}

.lookup_list_name {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
  color: rgb(71, 71, 71, 0);
  font-size: 20px;
  font-weight: bold;
}
@keyframes growlookup_list_name {
  0% {
    color: rgba(71, 71, 71, 0);
  }
  100% {
    color: rgb(71, 71, 71);
  }
}

.lookup_list_element {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  margin-top: 10px;
}

.dayOfTheWeek{
  position: absolute;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  margin-left: 2vh;
  margin-top: 2vh;
}
@keyframes growDayOfTheWeek {
  0% {
    margin-left: 2vh;
    font-size: 20px;
  }
  100% {
    margin-left: 3vh;
    font-size: 32px;
  }
}

.dayNum{
  position: absolute;
  font-family: Arial, sans-serif;
  color: #7f7f7f;
  font-size: 14px;
  font-weight: 50;
  margin-left: 3vh;
  margin-top: 5vh;
}
@keyframes growDayNum {
  0% {
    margin-left: 3vh;
    margin-top: 5vh;
    font-size: 14px;
  }
  100% {
    margin-left: 5vh;
    margin-top: 6.5vh;
    font-size: 20px;
  }
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, right 0.3s ease, top 0.3s ease, bottom 0.3s ease;
  z-index: 0;
}

.self-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px;
  background-color: #f1f1f1; /* Light gray background */
  border: 3px solid #A9A9A9; /* Dark gray border */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.self-circle-active {
  background-color: #88e488; /* Light gray background */
  border: 3px solid #3ab638; /* Dark gray border */
}

.nbResa{
  position: absolute;
  color: #606060;
  background-color: #d8d8db;
  font-weight: bold;
  width: 25px;
  height: 25px;
  font-size: 15px;
  right: 10px;
  z-index: 1;
}

.selectUser {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  font-size: 22px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  background-color: #d8d8db;
  margin-top: 2px;
  margin-left: 112%;
}





.main{
  margin-bottom: auto;
}

nav{
  margin-top: 10px;
}

.week{
  font-size: 32px;
  margin-bottom: 25px;
  margin-top: 80px;
}

.days {
  flex-direction: column;
  gap: 20px;
}

.top, .bottom{
  margin: 0 auto !important;
  flex-direction: row;
}

.big_rectangle {
  width: 320px;
  height: 130px;
}

.small_rectangle {
  width: 150px;
  height: 130px;
}


/*
@media (max-width: 1840px) {

  .week{
    font-size: 48px;
    margin-bottom: 50px;
  }

  .big_rectangle {
    width: 200px;
    height: 275px;
  }

  .small_rectangle {
    width: 200px;
    height: 275px;
  }
}

@media (max-width: 1300px) {

  .week{
    margin-bottom: 50px;
  }

  .small {
    flex-direction: column;
  }

  .top, .bottom {
    flex-direction: row;
  }
  
  .big_rectangle {
    width: 320px;
    height: 440px;
  }

  .small_rectangle {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 860px) {

  .main{
    margin-bottom: auto;
  }

  nav{
    margin-top: 10px;
  }

  .week{
    font-size: 32px;
    margin-bottom: 25px;
    margin-top: 80px;
  }

  .days {
    flex-direction: column;
    gap: 20px;
  }

  .top, .bottom{
    margin: 0 auto !important;
    flex-direction: row;
  }

  .big_rectangle {
    width: 320px;
    height: 130px;
  }

  .small_rectangle {
    width: 150px;
    height: 130px;
  }
}
*/